:root{
    --link-color: #FFD124;
    --baby-headers: #00AFC1;
    --text-theme:#E45826;
    --foot-theme: #F32424;
}

h1{
    background-image:linear-gradient(red,blue,green) ;
    width: auto;
    height: auto;
    text-align:center;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    --ratio: 1.5;
    --size-one: calc(1.2rem * var(--ratio));
    --size-two: calc(var(--size-one) * var(--ratio));
    --body-size: calc(1.2rem * var(--ratio));
    
}

h1, h2{
    color: #b0bb1b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h1{
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .1rem;
    font-size: var(--size-two);
}


h2{
    color: var(--baby-headers);
    font-size: var(--size-one);
}


.site-intro {
    font-size: var(--body-size);
}

p{
    color: var(--text-theme);
}

footer{
    color: var(--foot-theme);
}

nav a{
    color: var(--link-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:visited{
    background-color: aliceblue;
}

nav a:hover{
    text-decoration: underline;
    color: #bb1b47;
}

nav a:active{
    color: yellow;
}


